<% include partials/header.ejs %>

    <h1> Welcome to Mercury </h1>
    <img src="/img/mercury.jpg" alt="Mercury" />
    
    <h3> Some Intersting Facts about Mercury: </h3>
    
    <p> 
        Mercury is the planet that is the closest to the Sun but
        it is also the smallest of all the planets
    </p>
    
    <p>
         Although Mercury is small, it is also the second 
         densest planet because it's mostly made up of heavy metals
         and rocks
    </p>
    
    <p>
        A year in Mercury lasts around 88 Earth days, but a day in Mercury
        lasts around 176 Earth days.
    </p>
    
    

<%include partials/footer %>