<% include partials/header.ejs %>

    <h1> Welcome to Venus </h1>
    <img src="/img/venus.jpg" alt="Venus" />
    
    <h3> Some Interesting Facts about Venus: </h3>
    
    <p>
        The surface of Venus is covered by clouds that 
        are formed by sulphuric acid
    </p>
    
    <p>
        Venus is sometimes considered the "sister" of 
        planet Earth because both planets are similar in size and
        mass. 
    </p>
    
    <p>
        Venus is the third brightest object in the sky from
        the view of Earth, next to the Sun and the Moon.
    </p>
    
    

<%include partials/footer %>