<% include partials/header.ejs %>
    
    <br  /><br  />
    <main>
         <picture>
                <img src="/projects/Project4A/public/img/HistorySoftware.png" alt="Picture of Timeline" align = "left" hspace = "70" />
         </picture>
         <div>
         <h2>How Did Software Engineering Come To Be?</h2> 
        
         <p> To the left, there is a small timeline which gives a general outline as to how software engineering came to be and some
         of the more important dates associated with Software Engineering. 
         </p> 
         <p>In <a href=https://people.inf.ethz.ch/wirth/Miscellaneous/IEEE-Annals.pdf>1963</a>, the first-time sharing system had actually appeared and many wanted to go from batch-processing systems to 
         the time-sharing systems but the engineers had underestimated the transtion. The problems that had risen during this transition were
         actually too difficult and because of this many companies were actually on the "risk of collapse." 
         <p>Because of this, NATO actually had 
         a conference in 1968 in Germany to discuss these problems and actually speak out about the ongoing "software crisis." Thus, this is how
         the term "software engineering" came to be as they thought that if they took an engineering approach to the creation of software programs
         then it would eliminate the ongoing problems as well as create a more dependable environment.
         </p>
        
            </div>
        </main>
        
<% include partials/footer.ejs %>