<!DOCTYPE html>
<html>
    <head>
        <title>Software Engineering</title>
        <link rel="stylesheet" href="/projects/Project4A/public/css/styles.css" /> 
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap" rel="stylesheet">
    
    </head>
    <header>
        <h1>Software Engineering</h1>
    </header>
    <body>
    <nav>
            <hr width="75%" />
            <a href="/public/projects/Project4A/"> Home </a>
            <a href="/public/projects/Project4A/history">History</a>
            <a href="/public/projects/Project4A/uses">Uses</a>
            <a href="/public/projects/Project4A/careers">Careers</a>
    </nav>
    </body>