<h1 class="text-center">Add Appointment</h1>
<hr/>

<link href="https: stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<table>
    
    <tbody>
        
        <tr>
            
            <td><label>Date</label></td>
            <td>
                <input id="date" type="date" value="{{data.date}}"/>
            </td>
        </tr>
        <tr> 
            <td><label>Start Time</label></td>
            <td><input id="startTime" type="time" value="{{data.start_time}}"/>
        </tr>
        <tr>
            <td><label>End Time</label></td>
            <td><input id="endTime" type="time" value="{{data.end_time}}"/>
        </tr>
        <tr>
            <td></td>
            <td>
                <button id="saveButton" class="btn btn-primary">Save</button>
                <button id="cancelButton" class="btn btn-secondary">Cancel</button>
            </td>
        </tr>
    </tbody>
</table>
<script>
    /*global $*/
    /*global err*/
    $("#cancelButton").on("click", function() {
         window.location.href = "../Final/home"
    }); 
       $("#saveButton").on("click", function() {
        
          $.ajax({
              type: "POST", 
              url: "/Exam/Final/home/edit", 
              dataType: "json", 
              contentType: "application/json", 
              data: JSON.stringify({
                  "date": $("#date").val(), 
                  "startTime":$("#start_time").val(), 
                  "endTime": $("#end_time").val(), 
              }), 
            
              success: function(data, status) {
                  console.log("got data back", data); 
                  window.location.href = "/Exam/Final/home"; 
              }, 
              error: function(xhr, status, error) {
                  err = eval("(" + xhr.responseText + ")");
                  console.log(err);
              }, 
              complete: function(data, status) { optional, used for debugging purposes
              console.log(status);
              }
          });
      })
  </script>
