<hr>
<p style = "text-align:center;" >
CST 336 Internet Programming. 2019&copy; Ocampo <br />
<strong> Disclaimer: </strong> The information in this webpage
is fictitious. It is used for academic purposes only.</p> <br />
</body>
</html>