<!DOCTYPE html>
<html>
    <head>
        <title>Software Engineering</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap" rel="stylesheet">
    
    </head>
    <header>
        <h1>Software Engineering</h1>
    </header>
    <body>
    <nav>
            <hr width="75%" />
            <a href="/index"> Home </a>
            <a href="/history">History</a>
            <a href="/uses">Uses</a>
            <a href="/careers">Careers</a>
    </nav>
    </body>