<% include partials/header.ejs %>

    <h1> Welcome to Earth </h1>
    <img src="/img/earth.jpg" alt="Earth" />
    
    <h3> Some interesting facts about the Earth: </h3>
    <p>
        Some facts to consider about Earth are that 
        it is the third planet from the Sun
    </p>
    
    <p>
        Earth is also currently the only planet in our Solar System
        that can support life
    </p>
    
    <p>
        Planet Earth takes 24 hours to rotate on its axis and 365 days
        to go around the Sun
        
    </p>
    

<%include partials/footer %>