<!DOCTYPE html>
<html>
    <head>
        <title>Pixabay Search (Express Version)</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <link href="https://fonts.googleapis.com/css?family=McLaren&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1> Pixabay Search (Express Version) </h1>
        <!---in order to send information to the server use <form> tags--->
        <!---action attribute specifies what is the file that is going to be rendered--->
        <form action = "/results" method="GET">
            <!---in order to submit information to server need to use "name" attribute, 
            in order to know what info to send --->
            
            Keyword:<input type="text" name="keyword">
            <button> Search </button>
            
        </form> <br>
        
        <img src='<%=image%>'>
        
        
    </body>
</html>