<% include partials/header.ejs %>
    
    <br  /><br  />
    
    <main>
         <picture>
                <img src="/img/software-engineering.png" alt="Picture of Engineering" align = "center" />
         </picture>
         
         <h3>Why is Software Engineering Important? </h3>
         <pre>
         Software engineers take on the important job of creating programs and they, 
         along with other teams and professionals, 
         take on the important task of making things work smoothly for its users. 
         Although software engineering is fairly new, it's one of the fastest 
         growing branches of engineering because new technology is being developed
         on the daily and can be used on a variety of platforms.
         </pre>
         <section>
             <h3> Uses:</h3>
             <ul>
                    <li><span class="hobby">Mobile</span>:<a href=https://www.computerscienceonline.org/careers/software-engineering/ >Creation</a> of software for mobile applications.
                    </li>
                    <li><span class="hobby">Robotics</span>: Create and develop software needed for control of robots and automation.</li>
                    <li><span class="hobby">Cloud Computing</span>: Create, manage and design software that will be needed in cloud computing systems.</li>
                    <li><span class="hobby">Health Informatics</span>: Creation of software that will be used in health care and public health organizations 
                    to organize patient information. </li>
                    <li><span class="hobby">Security</span>: Analyses computer systems and makes sure that they are working properly and creates software that
                    prepares computer systems for any future issues such as cyber attacks.</li>
                    
                </ul>
                <p>Among many more uses!</p>
         </section>
        </main>
        
<% include partials/footer %>